@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --secondary-red: #ee9ca7;
  --primary-red: #ec4357;
  --primary-blue: #241b57;
}

@layer components {

  header img {
    float: left;
    width: 200px;
    margin-left: -12px;
    padding: 13px 140px 20px 0;
  }

  header ul.menu-left {
    float: left;
  }

  header ul.menu-left li {
    display: inline-block;
    padding: 20px;
  }

  header ul.menu-left li a {
    color: #606c7c;
    transition: ease-in 0.2s;
  }

  header ul.menu-left li a:hover {
    color: rgb(248, 38, 84);
  }

  header ul.menu-right {
    float: right;
  }

  header ul.menu-right li.menu-cta {
    width: 150px;
    margin-top: 0.7em;
    padding: 0.5em;
    transition: 0.3s all ease;
    text-align: center;
    border-radius: 3px;
    background: white;
    box-shadow: 2px 4px 9px 1px rgba(0, 0, 0, 0.05);
  }

  header ul.menu-right li.menu-cta a {
    font-weight: 500;
    color: rgb(248, 38, 84);
  }

  #intro {
    position: relative;
    overflow: hidden;
    min-height: 600px;
    padding-top: 9em;
  }

  #intro .top-right-gradient {
    position: absolute;
    top: -40%;
    right: -30%;
    width: 800px;
    height: 800px;
    border-radius: 50%;
    background: linear-gradient(#ee9ca7, #ec4357);
  }

  #intro .intro-left {
    display: inline-block;
    width: 100%;
    max-width: 400px;
    padding: 3em 0;
  }

  #intro .intro-left h1 {
    font-size: 2.5em;
    color: #241b57;
    line-height: 1.5em;
    position: relative;
    margin-bottom: 1em;
  }

  #intro .intro-left h1:after {
    position: absolute;
    bottom: -24px;
    left: 0;
    width: 40px;
    height: 4px;
    content: "";
    border-radius: 5px;
    background: #ec4357;
    opacity: 0.4;
  }

  #intro .intro-left p {
    font-size: 1.125em;
    line-height: 1.75em;
  }

  #intro .intro-left a.intro-cta {
    font-weight: 500;
    display: block;
    width: 100%;
    max-width: 180px;
    margin-top: 2em;
    padding: 1em;
    text-align: center;
    color: #fff;
    border-radius: 3px;
    background: #ec4357;
  }

  #intro .intro-right {
    position: relative;
    display: inline-block;
    margin-left: 6em;
    padding-top: 80px;
  }

  #intro .intro-right img {
    max-width: 600px;
  }

  #intro .bottom-left-gradient {
    position: absolute;
    bottom: 10px;
    left: -9%;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: linear-gradient(#c779d0, #4bc0c8);
  }

  /* About */

  #about .about-right {
    display: inline-block;
    width: 100%;
    max-width: 400px;
    margin-left: 10em;
  }

  #about .about-right h1 {
    font-size: 2.5em;
    line-height: 1.5em;
    position: relative;
    margin-bottom: 1em;
    color: var(--primary-red);
  }

  #about .about-right h1::after {
    position: absolute;
    bottom: -24px;
    left: 0;
    width: 40px;
    height: 4px;
    content: "";
    border-radius: 5px;
    background: var(--primary-blue);
    opacity: 0.2;
  }

  #about .about-right p {
    font-size: 1.125em;
    line-height: 1.75em;
  }

  #about .about-right a.cta {
    position: relative;
    font-weight: 600;
    z-index: 99;
    display: block;
    width: 100%;
    max-width: 200px;
    margin: 2em 0 1em;
    padding: 1em;
    text-align: center;
    color: #fff;
    border-radius: 3px;
    background: var(--primary-blue);
  }

  footer .footer-connect {
    line-height: 20px;
    color: var(--primary-blue);
    font-size: 12px;
    font-weight: normal;
    margin: 0;
  }

  footer .footer-icons {
    margin-top: 25px;
  }

  footer .footer-icons a {
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color: #fff;
    border-radius: 2px;
    font-size: 20px;
    color: #ec4357;
    text-align: center;
    line-height: 35px;
    margin-left: -5px;
  }

  footer .footer-connect span {
    display: block;
    color: #ec4357;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 20px;
  }

  @media (min-width: 320px) and (max-width: 768px) {

    header.active {
      box-shadow: 0 1px 5px 1px rgba(0, 0, 0, 0.2);
    }

    header button {
      position: absolute;
      top: 12px;
      right: 25px;
      display: block;
      width: 30px;
      height: 40px;
      padding-top: 6px;
      border: none;
      background: #fff;
    }

    header button span {
      position: relative;
      top: 0;
      display: block;
      width: 100%;
      height: 2px;
      margin-bottom: 5px;
      transition: all 0.25s ease;
      border-radius: 15px;
      background: #0d2366;
    }

    header button span:nth-child(2) {
      right: 0;
      width: 80%;
      opacity: 1;
    }

    header button span:nth-child(3) {
      width: 60%;
    }

    header.active button span:nth-child(1) {
      top: 8px;
      left: -4px;
      -ms-transform: rotate(38deg);
      transform: rotateZ(38deg);
    }

    header.active button span:nth-child(2) {
      right: -100%;
      opacity: 0;
    }

    header.active button span:nth-child(3) {
      top: -6px;
      left: -4px;
      width: 100%;
      -ms-transform: rotate(-38deg);
      transform: rotateZ(-38deg);
    }

    header ul.menu-left {
      display: none;
    }

    header img {
      margin-left: 20px !important;
    }

    header.active ul.menu-left {
      display: block;
      float: none;
      clear: both;
    }

    header.active ul.menu-left li {
      display: block !important;
      padding: 10px 20px;
    }

    header ul.menu-right {
      display: none;
    }

    /* intro responsive */

    #intro {
      max-height: 300px !important;
      text-align: center;
      display: flex;
      height: 100%;
      flex-direction: column;
      justify-content: space-around;
      margin-top: 40px !important;
    }

    #intro .bottom-left-gradient {
      position: absolute;
      z-index: -999;
      left: -12%;
      width: 200px;
      height: 200px;
      border-radius: 50%;
      background: linear-gradient(#c779d0, #4bc0c8);
    }

    #intro .top-right-gradient {
      position: absolute;
      z-index: -999;
      top: 14%;
      right: -14%;
      width: 100px;
      height: 100px;
      border-radius: 50%;
    }
    #intro .intro-right img {
      width: 380px;
    }

    #intro h1 {
      font-size: 24px !important;
    }

    #intro h1::after {
      margin-left: 180px;
      margin-bottom: 10px;
    }

    #intro .intro-left .intro-cta {
      display: inline-block !important;
    }
  }
}
